body {
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background: rgba(0, 137, 236, 0.47);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgba(225, 243, 242, 0.07), rgba(0, 137, 236, 0.47));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(225, 243, 242, 0.07), rgba(0, 137, 236, 0.47)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
main {
  flex: 1 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.signup-background{
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 16px rgba(0, 0, 0, 0.16);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  /*Text Inside Container*/  
  font-weight: normal;
  color: black;
  text-align: justify;

  padding-top: 1%;
  padding-bottom: 1%;
}
#rdBtn {
  margin: 10px 0 0 20px;
  padding-right: 1%;
  padding-left: 1%;
}
#rdBtn label {
  font-size: 1em;
  font-weight: normal;
  color: black;
  text-align: justify;
  padding-right: 20px;
}
.container .input-field {
  margin: 10px 0 0 20px;
  padding-right: 10%;
  padding-left: 10%;
}
/* label color */
.container .input-field label {
  color: #000;
}
/* label underline color */
.container .input-field input[type=text], .container .input-field input[type=number],
.container .input-field input[type=email], .container .input-field input[type=password]
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
} 

/* label focus color */
.container .input-field input[type=text]:focus + label, .container .input-field input[type=number]:focus + label,
.container .input-field input[type=email]:focus + label, .container .input-field input[type=password]:focus + label
{
  color: #0072ff;
  left: 0.2rem;
}

.container .input-field label.active {
  left: 0.2rem;
}

 /* label underline focus color */
.container .input-field input[type=text]:focus, .container .input-field input[type=number]:focus,
.container .input-field input[type=email]:focus, .container .input-field input[type=password]:focus
{
  border-bottom: 1px solid #0072ff;
  box-shadow: 0 1px 0 0 #0072ff;
  left: 0.2rem;
} 

/* valid color */
.container .input-field input[type=text].valid, .container .input-field input[type=number].valid 
.container .input-field input[type=email].valid, .container .input-field input[type=password].valid 
{
  border-bottom: 1px solid #2ecc71;
  box-shadow: 0 1px 0 0 #2ecc71;
}

 /* invalid color */
.container .input-field input[type=text].invalid, .container .input-field input[type=number].invalid
.container .input-field input[type=email].invalid, .container .input-field input[type=password].invalid
{
  border-bottom: 1px solid #e74c3c;
  box-shadow: 0 1px 0 0 #e74c3c;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #0072ff;
  border-bottom: 2px solid #0072ff;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid #0072ff;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #0072ff;
}

/* footer */
.page-footer {  
  background: rgba(0,0,0,0.87);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #757575, rgba(0,0,0,0.87));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #757575, rgba(0,0,0,0.87)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.page-footer .footer-copyright {
  background-color: rgba(0,0,0,0.2);
}
